{% extends "account/base.html" %}

{% load account %}

{% block head_title %}Сброс пароля{% endblock %}

{% block content %}

    <h1>Сброс пароля</h1>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>
        Забыли пароль? Введите адрес электропочты в поле ниже, и мы вышлем вам письмо с информацией как сбросить пароль.
    </p>

    <form method="POST" action="{% url 'account_reset_password' %}">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Сбросить пароль" />
    </form>

{% endblock %}
