{% load static account %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ project_name }}</title>

    <!-- CSS -->
    <link href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- End CSS -->

    <!-- JS -->
    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/ractive/ractive.min.js' %}"></script>

    <!--[if lt IE 9]>
      <script src="{% static 'vendor/html5shiv/dist/html5shiv.min.js' %}"></script>
      <script src="{% static 'vendor/respond/dest/respond.min.js' %}"></script>
    <![endif]-->

    <script src="{% static 'js/script.js' %}"></script>
    <!-- End JS -->
  </head>
  <body>

    {% if request.user.is_authenticated %}
        Добро пожаловать, {% user_display request.user %}
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <input class="btn btn-default" type="submit" value="Выход">
        </form>
    {% else %}
        <a class="btn btn-default" href="{% url 'account_login' %}">Вход</a>
        <a class="btn btn-default" href="{% url 'account_signup' %}">Регистрация</a>
    {% endif %}

    {% block content %}{% endblock %}

  </body>
</html>
