{% load static account compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon/favicon-96x96.png' %}">

    <meta name="msapplication-TileImage" content="{% static 'img/favicon/ms-icon-144x144.png' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">


    <title>
        {% block head_title %}Title{% endblock %}
    </title>

    <!-- CSS -->
    <link href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "css/main.scss" %}" />
    {% endcompress %}
    <!-- End CSS -->

    <!-- JS -->
    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/ractive/ractive.min.js' %}"></script>

    <!--[if lt IE 9]>
      <script src="{% static 'vendor/html5shiv/dist/html5shiv.min.js' %}"></script>
      <script src="{% static 'vendor/respond/dest/respond.min.js' %}"></script>
    <![endif]-->

    {% compress js %}
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    {% endcompress %}
    <!-- End JS -->
  </head>
  <body>

    {% if request.user.is_authenticated %}
        Добро пожаловать, {% user_display request.user %}
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <input class="btn btn-default" type="submit" value="Выход">
        </form>
    {% else %}
        <a class="btn btn-default" href="{% url 'account_login' %}">Вход</a>
        <a class="btn btn-default" href="{% url 'account_signup' %}">Регистрация</a>
    {% endif %}

    {% block content %}{% endblock %}

  </body>
</html>
