DJANGO_SETTINGS_MODULE={% verbatim %}{{ settings_module }}{% endverbatim %}

DJANGO_SECRET='CHANGE_ME_IN_PRODUCTION'

DJANGO_DB='postgres://USER:PASSWORD@HOST:PORT/NAME'

DJANGO_FROM_EMAIL='root@localhost'
DJANGO_EMAIL_HOST=''
DJANGO_EMAIL_PORT=''
DJANGO_EMAIL_USER=''
DJANGO_EMAIL_PASSWORD=''
DJANGO_EMAIL_USE_TLS=False
DJANGO_EMAIL_USE_SSL=False

CELERY_BROKER_URL = 'redis://localhost/8'
CELERY_RESULT_BACKEND = 'redis://localhost/7'
