#!/usr/bin/env python

import sys

import envvars as env

if __name__ == "__main__":
    env.load("{% verbatim %}{{ env_file }}{% endverbatim %}")

    from django.core.management import execute_from_command_line

    execute_from_command_line(sys.argv)
