{% extends "errors/base.html" %}

{% block meta_title %}Некорректный запрос - ошибка 400{% endblock %}

{% block code %}Ошибка 400{% endblock %}

{% block short_text %}
    Наш сервер не понял ваш запрос
{% endblock %}

{% block help %}
    <p>
        Произошла ошибка, ваш браузер отправил нашему серверу неправильный
        запрос.
    </p>
    <p>
        Попробуйте очистить кеш браузера, удалить куки, проверьте настройки
        антивируса или брандмауэра и перезагрузите страницу.
    </p>
{% endblock %}
