{% extends "errors/base.html" %}

{% block meta_title %}Доступ запрещён - ошибка 403{% endblock %}

{% block code %}Ошибка 403{% endblock %}

{% block short_text %}
    Ошибка проверки формы
{% endblock %}

{% block help %}

    <p>
        Произошла ошибка проверки CSRF-токена в отправленной вами форме,
        возможно он отсутствует или устарел.
    </p>

    <p>
        Убедитесь, что ваш браузер принимает куки, перезагрузите страницу
        и попробуйте отправить форму ещё раз.
    </p>

{% endblock %}

{% block navigation %}{% endblock %}
