{% extends "errors/base.html" %}

{% block meta_title %}Ошибка сервера - ошибка 500{% endblock %}

{% block code %}Ошибка 500{% endblock %}

{% block short_text %}
    Упс! У нас что-то сломалось :(
{% endblock %}

{% block help %}

    <p>
        Произошла внутренняя ошибка сервера, мы в курсе и уже работаем
        над этой проблемой.
    </p>

    <p>
        Приносим свои извинения за предоставленные неудобства, пожалуйста,
        попробуйте зайти на страницу позже.
    </p>

{% endblock %}

{% block navigation %}{% endblock %}
