{% extends "account/base.html" %}

{% load account %}

{% block head_title %}Вход{% endblock %}

{% block content %}

<h1>Вход</h1>


<form method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}

    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <button type="submit">Войти</button>
</form>

<a href="{% url 'account_reset_password' %}">Забыли пароль?</a>
<a href="{{ signup_url }}">Регистрация</a>

{% endblock %}
