{% extends "account/base.html" %}

{% block head_title %}Изменить пароль{% endblock %}

{% block content %}
    <h1>
        {% if token_fail %}
            Плохой токен
        {% else %}
            Изменение пароля
        {% endif %}
    </h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>
            Похоже, что ссылка для сброса пароля недействительна, возможно она уже была использована.
        </p>

        <p>
            Пожалуйста, попробуйте <a href="{{ passwd_reset_url }}">сбросить пароль ещё раз</a>.
        </p>
    {% else %}
        {% if form %}
            <div class="row">
                <div class="col-md-6">
                    <form class="form" method="POST" action=".">
                        {% csrf_token %}
                        {% include "includes/bootstrap/bs3-form.html" %}
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" name="action" value="Изменить пароль"/>
                        </div>
                    </form>
                </div>
            </div>
        {% else %}
            <p>Ваш пароль успешно изменён.</p>
        {% endif %}
    {% endif %}
{% endblock %}
