{% extends "account/base.html" %}

{% block head_title %}Установить пароль{% endblock %}

{% block content %}
    <h1>Установить пароль</h1>

    <div class="row">
        <div class="col-md-6">
            <form class="form" method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {% include "includes/bootstrap/bs3-form.html" %}
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" name="action" value="Установить пароль"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
