{% extends "account/base.html" %}

{% load account %}

{% block head_title %}Сброс пароля{% endblock %}

{% block content %}

    <h1>Сброс пароля</h1>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>
        Забыли пароль? Введите адрес электропочты в поле ниже, и мы вышлем вам письмо с информацией как сбросить пароль.
    </p>

    <div class="row">
        <div class="col-md-6">
            <form class="form" method="POST" action="{% url 'account_reset_password' %}">
                {% csrf_token %}

                {% include "includes/bootstrap/bs3-form.html" %}

                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Сбросить пароль" />
                </div>
            </form>
        </div>
    </div>

{% endblock %}
