{% extends "account/base.html" %}

{% block head_title %}Подтвердите адрес электронной почты{% endblock %}

{% block content %}
    <h1>Подтвердите адрес электронной почты</h1>

    {% url 'account_email' as email_url %}

    <p>
    Эта часть сайта доступна пользователям с подтверждённым
    адресом электронной почты. По этой причине, вам необхдимо
    подтвердить адрес вашей электронной почты.
    </p>

    <p>
    Мы отправили вам письмо с подтверждением. Пожалуйста,
    пройдите по ссылке внутри письма для подтверждения
    адреса вашей электронной почты.
    </p>
{% endblock %}
